.seed{
  color: lightblue;
  background-color: #F9FFF2;
  border-radius: 10px;
  border-color: #094986;
  width:120px;
  height:30px;
  text-align: left;
  font-family: 'Fredoka One', cursive;
  padding-right:33px;
  padding-top: 2px;
}