.App {
  text-align: center;
}

.progBar{
  width:8%;
  position: absolute;
  bottom: 5%;
  left: 0;
  transform: translateY(-50%);
}
.waterlogo{
  width: 40px;
  height:auto;
}

.waterButton {
  width:60px;
  height:60px;
  text-align: left;
  position: absolute;
  bottom: 5%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 20px;
  margin-bottom: 5px;
  transition: margin-bottom .5s;
}
.waterButton:hover {
  margin-bottom:10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imgprop {
  height: 300px;
  width:auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}