.App {
  text-align: center;
}

.progBar{
  width:150px;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
}

.waterButton {
  width:150px;
  height:150px;
  text-align: left;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  color: #F9FFF2;
  border-radius: 20px;
  border-color: #094986;
  margin-bottom: 0;
  transition: margin-bottom .5s;
}
.waterButton:hover {
  margin-bottom:10px;
}

.waterlogo{
  width: 130px;
  height:auto;
}

#container {
  width: 200px;
  height: 200px;
  position: relative;
}

.loading{
  width: 70%;
  height:auto;
  position: center;
}

.waterButton {
  width:150px;
  height:150px;
  text-align: left;
  position: absolute;
  bottom: 5%;
  left: 0;
  transform: translateY(-50%);
  color: #F9FFF2;
  border-radius: 20px;
  border-color: #094986;
  margin-bottom: 5px;
  transition: margin-bottom .5s;
}
.waterButton:hover {
  margin-bottom:10px;
}

.logo{
  width: auto;
  height: 50px;
}

.instructions{
  width: 100%;
  height: auto;
}

.directions {
  width:50px;
  height:50px;
  text-align: right;
  position: fixed;
  /* bottom: 10; */
  right: 2%;
  transform: translateY(-50%);
  color: #F9FFF2;
  border-radius: 20px;
  border-color: #094986;
  margin-bottom: 5px;
  transition: margin-bottom .5s;
}

.instlogo {
  width: 100%;
  height:auto;
  position: center;
}

.shoplogo{
  width: 130px;
  height:auto;
}

.shopButton {
  position: fixed;
  bottom: 0;
  right: 0;
  width:150px;
  height:150px;
  text-align: right;
  transform: translateY(-50%);
  color: #F9FFF2;
  border-radius: 20px;
  border-color: #094986;
  margin-bottom: 5px;
  transition: margin-bottom .5s;
}
.shopButton:hover {
  margin-bottom:10px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imgprop {
  height: auto;
  width:auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.leaderboard{
  width:100px;
  height:30px;
  width:14%;
  bottom: 77%;
  left: 0;
  transform: translateY(-50%);
}

.leaderHolder{
  text-align: left;
  padding-top:-30px;
  padding-left:160px;
}

.navbar-custom {
  background-color: #ACBD67;
}